<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% if not question.choice_set.all %}
            No choices...
            <br><br>
        {% else %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        {% endif %}

    </fieldset>
    <br>
    <input type="submit" value="Vote">
</form>
<form action="{% url 'polls:choice' question.id %}" method="post">
    {{ choice_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Suggest choice"></p>
</form>
<hr>
<!-- Comments Form -->
<h2>Comments</h2>
<ul>
    <form action="{% url 'polls:comment' question.id %}" method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
    {% if not question.comments.all %}
        No comments yet...
        <br>
    {% else %}
        {% for comment in question.comments.all %}
            {% if comment.parent is blank %}
                <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
                <br>
                {{ comment.body }}
                <br><br>
                <ul>
                    <!-- Comment with nested comments -->
                    <form action="{% url 'polls:comment' question.id %}" method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <!-- Hidden input for parent comment.id -->
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="submit" value="Reply">
                    </form>
                    {% if not comment.replies.all %}
                        No replies yet...
                        <br><br>
                    {% else %}
                        {% for reply in comment.replies.all %}
                            <strong>{{ reply.name }} - {{ reply.date_added }}</strong>
                            <br>
                            {{ reply.body }}
                            <br><br>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
</ul>
<hr>