<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<hr>
<h2>Comments</h2>
{% if not question.comments.all %}
    No comments yet...
{% else %}
    {% for comment in question.comments.all %}
        <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
        <br>
        {{ comment.body }}
        <br><br>
    {% endfor %}
{% endif %}
  <form action="{% url 'polls:comment' question.id %}" method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
<br>
<hr>